<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/carInfo_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            - 차량목록
        </div>
    </div>
    <div class="row" >
        <table class="table table-bordered text-center align-middel">
            <colgroup>
            <col width="7%">
            <col width="13%">
            <col width="%">
            <col width="*">
            <col width="10%">
            <col width="10%">
            <col width="15%">
            </colgroup>
            <thead class="table-success">
                <tr>
                    <td style="vertical-align: middle;" rowspan="2">NO</td>
                    <td colspan="4">구매자정보</td>
                    <td colspan="2">차량정보</td>
                </tr>
                <tr>
                    <td>구매자명</td>
                    <td>연락처</td>
                    <td>구매일자</td>
                    <td>색상</td>
                    <td>모델명</td>
                    <td>금액</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="car, state : ${carList}">
                    <td>[[${#lists.size(carList) - state.index}]]</td>
                    <td>[[${car.purchaser}]]</td>
                    <td>[[${car.purchaserTel}]]</td>
                    <td>[[${car.saleDate}]]</td>
                    <td>[[${car.color}]]</td>
                    <td>[[${car.carList.modelName}]]</td>
                    <td>[[${#numbers.formatCurrency(car.carList.price)}]]만원</td>
                    </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>